#header {
  color: #ffffff;
}
div.breadcrumbs {
  padding: 10px 40px;
  border: none;
  color: #ffffff;
  text-align: left;
}
.login .submit-row {
  padding: 0px !important;
  margin: 0;
  text-align: center;
}

.module h2,
.module caption,
.inline-group h2 {
  background: rgb(26, 115, 26);
}
