body {
  padding: 0;
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --text-xs-regular: Inter;
  --subheading-3-medium: Poppins;
  --font-outfit: Outfit;
  --font-roboto: Roboto;
  --font-raleway: Raleway;
  --font-montserrat: Montserrat;
  --font-helvetica: Helvetica;
  --font-adamina: Adamina;
  --font-manrope: Manrope;
  --font-pt-sans: "PT Sans";
  --font-numans: Numans;

  /* font sizes */
  --font-size-mini-6: 14.6px;
  --font-size-2xl: 21px;
  --font-size-9xl: 28px;
  --font-size-smi-3: 12.3px;
  --font-size-sm-6: 13.6px;
  --font-size-7xl: 26px;
  --font-size-8xl: 27px;
  --font-size-3xl: 22px;
  --font-size-mini-4: 14.4px;
  --input-placeholder-size: 16px;
  --text-xs-regular-size: 12px;
  --subheading-3-medium-size: 20px;
  --font-size-3xs: 10px;
  --regular-size: 14px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-41xl: 60px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --font-size-smi: 13px;
  --font-size-10xl: 29px;
  --font-size-base-3: 15.3px;
  --font-size-13xl: 32px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-19xl: 38px;
  --font-size-21xl: 40px;
  --font-size-mid: 17px;
  --font-size-xs-9: 11.9px;
  --font-size-sm-9: 13.9px;
  --font-size-2xs: 11px;
  --font-size-lg: 18px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;

  /* Colors */
  --white: #fff;
  --color-whitesmoke-100: #f3f8f7;
  --color-whitesmoke-200: #f5f5f5;
  --color-whitesmoke-300: #f3f4f6;
  --color-whitesmoke-400: #f0f0f0;
  --color-whitesmoke-500: #eee;
  --color-teal: #156f5b;
  --color-gray-100: #fcfcfc;
  --color-gray-200: #808080;
  --color-gray-300: #212529;
  --color-gray-400: #212121;
  --color-gray-500: #1e1e1e;
  --black-100: #1c1c1c;
  --color-gray-600: #04000b;
  --color-gray-700: rgba(0, 0, 0, 0.77);
  --black-401: rgba(28, 28, 28, 0.4);
  --color-gray-800: rgba(18, 18, 18, 0.7);
  --color-gray-900: rgba(0, 0, 0, 0.6);
  --black-5: rgba(0, 0, 0, 0.05);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-40: rgba(0, 0, 0, 0.4);
  --color-darkcyan: #3b9682;
  --color-mediumblue: #0f3dde;
  --color-black: #000;
  --color-gainsboro-100: #e5e5e5;
  --blue-grey-blue-grey-100: #d9e2ec;
  --muted: #d9d9d9;
  --color-darkolivegreen: #3a5b22;
  --action-sec: #0c2a92;
  --blue-grey-blue-grey-700: #334e68;
  --color-darkslategray-100: #204e51;
  --primary-gray: #324054;
  --blue-grey-blue-grey-800: #243b53;
  --color-darkslategray-200: #333;
  --color-darkslategray-300: #292d32;
  --color-darkslategray-400: #002d38;
  --color-darkslategray-500: rgba(38, 50, 56, 0.6);
  --black-2: #abafb1;
  --color-darkgray-100: #acacac;
  --color-darkgray-200: #a19c9c;
  --color-forestgreen-100: #00ac4f;
  --banner-red: #ff472e;
  --color-honeydew: #dcf9d9;
  --color-limegreen-100: #0eaa00;
  --color-lightgray: #ccc;
  --text-body-muted: #718096;
  --color-slategray-100: rgba(115, 123, 139, 0.5);
  --teal-vivid-teal-vivid-100: #c6f7e9;
  --color-darkseagreen-100: #baedbd;
  --color-darkseagreen-200: #84c78e;
  --color-darkseagreen-300: rgba(186, 237, 189, 0.4);
  --color-dimgray-100: #6c6c6c;
  --color-dimgray-200: #4c4c4c;
  --color-palegreen-100: #75e064;
  --color-palegreen-200: rgba(117, 224, 100, 0.5);
  --color-ghostwhite-100: #f9fbff;
  --color-ghostwhite-200: #ededf6;
  --input-defaultbackground: rgba(239, 241, 249, 0.6);
  --color-lightsteelblue: #a6acbe;
  --color-deeppink: #e53170;
  --color-darkorange: #ff8906;
  --color-mediumseagreen-100: #00b087;
  --color-seagreen-100: #4ba26a;
  --color-seagreen-200: #008767;
  --color-pink: #ffc5c5;
  --color-red: #df0404;
  --color-mediumaquamarine: rgba(22, 192, 152, 0.38);
  --color-silver: #b5b7c0;
  --primary-blue: #e3f5ff;
  --primary-purple: #e5ecf6;

  /* Spacing */
  --boundvariablesdata: 8px;
  --boundvariablesdata1: 4px;
  --boundvariablesdata2: 8px;
  --boundvariablesdata3: 12px;
  --radius-8: 8px;
  --boundvariablesdata4: 16px;

  /* Gaps */
  --gap-lgi: 19px;
  --gap-16xl: 35px;
  --gap-52xl: 71px;
  --gap-3xl: 22px;
  --gap-24xl: 43px;
  --gap-xl: 20px;
  --gap-48xl: 67px;
  --gap-12xs: 1px;
  --gap-7xl: 26px;
  --gap-smi: 13px;
  --gap-9xl: 28px;
  --gap-8xl: 27px;
  --gap-6xl: 25px;
  --gap-9xs-5: 3.5px;
  --gap-base: 16px;
  --gap-253xl-1: 272.1px;
  --gap-49xl: 68px;
  --gap-117xl: 136px;
  --gap-mid: 17px;
  --gap-15xl: 34px;
  --gap-21xl: 40px;
  --gap-22xl: 41px;
  --gap-4xl: 23px;
  --gap-3xs: 10px;
  --gap-18xl-1: 37.1px;
  --gap-lg: 18px;
  --gap-17xl: 36px;
  --gap-27xl: 46px;
  --gap-xs: 12px;
  --gap-38xl: 57px;
  --gap-24xl-2: 43.2px;
  --gap-base-2: 15.2px;
  --gap-9xs: 4px;
  --gap-10xs: 3px;
  --gap-423xl: 442px;
  --gap-202xl: 221px;
  --gap-5xs: 8px;
  --gap-7xs: 6px;
  --gap-96xl: 115px;
  --gap-10xl: 29px;
  --gap-33xl: 52px;
  --gap-6xs-2: 6.2px;
  --gap-12xs-3: 0.3px;
  --gap-7xs-8: 5.8px;
  --gap-5xl-8: 24.8px;
  --gap-32xl: 51px;
  --gap-mid-8: 17.8px;
  --gap-10xl-5: 29.5px;
  --gap-xs-8: 11.8px;
  --gap-5xl-2: 24.2px;
  --gap-9xl-3: 28.3px;
  --gap-20xl: 39px;
  --gap-mini-3: 14.3px;
  --gap-4xs: 9px;
  --gap-2xs: 11px;
  --gap-xs-2: 11.2px;
  --gap-4xs-4: 8.4px;
  --gap-12xs-4: 0.4px;
  --gap-303xl: 322px;
  --gap-142xl: 161px;
  --gap-44xl: 63px;
  --gap-12xl: 31px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-mini: 15px;
  --gap-35xl: 54px;
  --gap-134xl: 153px;
  --gap-57xl: 76px;
  --gap-40xl: 59px;
  --gap-18xl: 37px;
  --gap-59xl: 78px;
  --gap-72xl: 91px;
  --gap-26xl: 45px;
  --gap-89xl: 108px;
  --gap-55xl: 74px;
  --gap-152xl: 171px;
  --gap-66xl: 85px;
  --gap-12xs-2: 0.2px;
  --gap-14xl: 33px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-2xl: 21px;
  --padding-91xl: 110px;
  --padding-119xl: 138px;
  --padding-mini: 15px;
  --padding-15xl: 34px;
  --padding-16xl: 35px;
  --padding-11xl: 30px;
  --padding-xl: 20px;
  --padding-30xl: 49px;
  --padding-31xl: 50px;
  --padding-12xs: 1px;
  --padding-smi: 13px;
  --padding-6xl: 25px;
  --padding-xs: 12px;
  --padding-35xl: 54px;
  --padding-8xl: 27px;
  --padding-11xs: 2px;
  --padding-8xs: 5px;
  --padding-4xs: 9px;
  --padding-lg: 18px;
  --padding-mid: 17px;
  --padding-7xl: 26px;
  --padding-sm: 14px;
  --padding-3xl: 22px;
  --padding-16xl-5: 35.5px;
  --padding-base: 16px;
  --padding-21xl: 40px;
  --padding-40xl: 59px;
  --padding-53xl: 72px;
  --padding-17xl: 36px;
  --padding-9xs: 4px;
  --padding-115xl: 134px;
  --padding-lgi: 19px;
  --padding-7xs: 6px;
  --padding-519xl: 538px;
  --padding-250xl: 269px;
  --padding-2xs: 11px;
  --padding-43xl: 62px;
  --padding-9xs-7: 3.7px;
  --padding-5xs: 8px;
  --padding-120xl: 139px;
  --padding-533xl: 552px;
  --padding-257xl: 276px;
  --padding-5xl: 24px;
  --padding-89xl: 108px;
  --padding-9xl: 28px;
  --padding-12xs-1: 0.1px;
  --padding-12xl: 31px;
  --padding-14xl: 33px;
  --padding-19xl: 38px;
  --padding-13xl: 32px;
  --padding-10xl: 29px;
  --padding-smi-8: 12.8px;
  --padding-22xl: 41px;
  --padding-6xs: 7px;
  --padding-18xl: 37px;
  --padding-10xs: 3px;
  --padding-444xl: 463px;
  --padding-96xl: 115px;
  --padding-212xl: 231px;
  --padding-38xl: 57px;
  --padding-25xl: 44px;
  --padding-6xs-1: 6.1px;
  --padding-9xs-1: 3.1px;
  --padding-6xs-4: 6.4px;
  --padding-86xl: 105px;
  --padding-24xl: 43px;
  --padding-20xl: 39px;
  --padding-34xl: 53px;
  --padding-110xl: 129px;
  --padding-4xl: 23px;
  --padding-11xs-7: 1.7px;
  --padding-113xl: 132px;
  --padding-4xs-5: 8.5px;
  --padding-32xl: 51px;
  --padding-33xl: 52px;
  --padding-49xl: 68px;
  --padding-87xl: 106px;
  --padding-481xl: 500px;
  --padding-106xl: 125px;
  --padding-231xl: 250px;
  --padding-224xl: 243px;
  --padding-102xl: 121px;
  --padding-23xl: 42px;
  --padding-300xl: 319px;
  --padding-188xl: 207px;
  --padding-234xl: 253px;
  --padding-107xl: 126px;
  --padding-66xl-9: 85.9px;
  --padding-136xl: 155px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-3xs: 10px;
  --br-11xl: 30px;
  --br-mini: 15px;
  --br-9xs: 4px;
  --br-1981xl: 2000px;
  --br-6981xl: 7000px;
  --br-263xl-3: 282.3px;
  --br-5xs: 8px;
  --br-6xl: 25px;
  --br-6xs: 7px;
  --br-31xl: 50px;
  --br-3xs-9: 9.9px;
  --br-xs: 12px;

  /* Effects */
  --shadow-sm: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  --small: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
