<!DOCTYPE html>
{%extends 'base.html'%}
{%load static%}
{%block content%}
    <div class="about1">
      <section class="divelementor-element2">
        <a class="heading-11">About</a>
      </section>
      <section class="top-image">
        <div class="divelementor-element3"></div>
        <div class="image-2"></div>
      </section>
      <img class="image-1-icon" alt="" src="{%static 'img/public/image-1@2x.png'%}" />

      <div class="container-fluid mx-0 row d-flex flex-wrap">
        <!-- This is the our mission part -->
        <div class="col-md-5">
          <h1>Our Mission</h1>
          <div>
              <img src="{%static 'img/public/spanelementordividerseparator.svg'%}" alt=""/>
          </div>
          <p>
            At AgriPLM, we are committed to
            revolutionizing the way agricultural
            products are managed throughout their lifecycle.
            Our mission is to provide a comprehensive platform
            that empowers agricultural businesses to achieve sustainability,
            compliance, and efficiency in product development and management
          </p>
        </div>
        <div class="col-md-2">&nbsp;&nbsp;</div>
        <!-- This is our vision part -->
        <div class="col-md-5">
          <div>
            <h1 >Our Vision</h1>
              <img src="{%static 'img/public/spanelementordividerseparator.svg'%}" alt=""/>
          
          <p>
            AgriPLM envisions a world where agricultural businesses operate sustainably and efficiently, 
            contributing to global food security and environmental conservation.<br><br>

            Our mission is to provide innovative solutions that empower businesses to manage their products
            throughout their lifecycle while ensuring regulatory compliance and environmental sustainability.<br><br>

            We are committed to leveraging technology and collaboration to drive agricultural innovation
            and address the world’s most pressing challenges.
 
          </p>
          </div>
        </div>
      </div>

    </div>
{%endblock%}
