<!DOCTYPE html>
{%extends 'base.html'%}
{%load static%}
{%block content%}
<section class="container-fluid bg-light text-center">
  <div class="container-fluid mt-4">
      <div class="text-center text-sm-center text-decoration-none">
    <h1 >Revolutionizing Agriculture Product Management</h1>

    <p class="text-center" style="font-size: 20px;">
      AgriPLM is a comprehensive platform designed to manage the entire product lifecycle of agricultural products.
      We provide a sustainable and efficient <br> solution that ensures regulatory compliance and fosters collaborative decision-making.
      Our commitment to high-quality standards and environmentally <br> conscious practices sets us apart from the competition.
    </p>
  </div> 
  <div class="container">
    <img class="w-100" src="{%static 'img/public/divelementorwidgetcontainer@2x.png'%}" alt="">
  </div>
  <button class="btn btn-lg btn-success mt-4" type="submit">LEARN MORE</button>
  </div>
  

</section>
 {%endblock%}