<!DOCTYPE html>
<style>
  p{
    font-size: 20px;
  }
</style>
{%extends 'base.html'%}
{%block content%}
    <div class="services2">
      <section class="divelementor-element-wrapper">
        <div class="divelementor-element4">
          <a class="heading-12 px-3">SERVICES</a>
        </div>
      </section>
      <section class="services-content-wrapper" >
        <div class="services-content">
          <div class="services-we-provide">Services we provide</div>
          <div class="services-list">
            <div class="service-items" style="font-size: 20px;">
              <div class="product-design">
                <div class="divelementor-element5">
                  <div class="heading-4 py-4">
                    Product Lifecycle, Product Design and Development
                  </div>
                  <div class="our-platform-provides-container">
                    <p class="our-platform-provides">
                      Our platform provides a comprehensive solution that
                      enables businesses to manage the entire lifecycle of their products. From
                      ideation to design, from development to launch, we offer the tools necessary
                      to create innovative and high-quality agricultural products.
                    </p>
                  </div>
                </div>
                <div class="divelementor-element6">
                  <div class="heading-41 py-4" style="font-size: 20px;">Sustainability Management</div>
                  <div class="our-sustainability-management-container">
                    <p class="our-sustainability-management">
                      Our sustainability management services help businesses
                      create products that align with their environmental goals and contribute
                      to the development of environmentally conscious agricultural
                      practices.
                    </p>
                     
                  </div>
                </div>
              </div>

              <div class="divelementor-element7">
                <div class="heading-42 py-4">Regulatory Compliance</div>
                <div class="our-regulatory-compliance-container">
                  <p class="our-regulatory-compliance">
                    Our regulatory compliance services ensure that businesses
                    are aware of the latest environmental regulations and provide guidance on
                    how to comply with them.
                  </p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>
    </div>
{%endblock%}